In [1]:
!pip install statsmodels

Collecting statsmodels
  Downloading https://files.pythonhosted.org/packages/48/f9/9f5c93b0159d89dd527ed271ca2ad71af629422d89530218c5e929c5f800/statsmodels-0.10.2-cp36-cp36m-manylinux1_x86_64.whl (8.1MB)
     |████████████████████████████████| 8.1MB 245kB/s eta 0:00:01
Collecting patsy>=0.4.0
  Using cached https://files.pythonhosted.org/packages/ea/0c/5f61f1a3d4385d6bf83b83ea495068857ff8dfb89e74824c6e9eb63286d8/patsy-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.19 in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from statsmodels) (0.25.3)
Requirement already satisfied: numpy>=1.11 in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from statsmodels) (1.18.1)
Collecting scipy>=0.18
  Downloading https://files.pythonhosted.org/packages/dc/29/162476fd44203116e7980cfbd9352eef9db37c49445d1fec35509022f6aa/scipy-1.4.1-cp36-cp36m-manylinux1_x86_64.whl (26.1MB)
     |████████████████████████████████| 26.1MB 984kB/s eta 0:00:01
Requirement already satisfied: six in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from patsy>=0.4.0->statsmodels) (1.13.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from pandas>=0.19->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from pandas>=0.19->statsmodels) (2019.3)
Installing collected packages: patsy, scipy, statsmodels
Successfully installed patsy-0.5.1 scipy-1.4.1 statsmodels-0.10.2

In [3]:
import pandas as pd
from statsmodels import api as sm

In [4]:
dados = pd.read_excel('../dados/vivareal.xls')

In [5]:
dados.head()

,Unnamed: 0,link,latitude,longitude,valor,iptu,condominio,area,quartos,banheiros,suites,vagas
0,0,https://www.vivareal.com.br/imovel/apartamento...,-8.127518,-34.898142,680000,0,942,134,3,3.0,1,1.0
1,1,https://www.vivareal.com.br/imovel/apartamento...,-8.109744,-34.897566,775000,0,600,136,4,4.0,2,2.0
2,2,https://www.vivareal.com.br/imovel/apartamento...,-8.120500,-34.898148,1500000,6500,936,167,4,6.0,4,3.0
3,3,https://www.vivareal.com.br/imovel/apartamento...,-8.130808,-34.903129,415000,174,770,135,3,3.0,1,1.0
4,4,https://www.vivareal.com.br/imovel/apartamento...,-8.121509,-34.898536,615000,0,0,91,3,3.0,1,2.0

In [6]:
del dados['Unnamed: 0']

In [7]:
del dados['link']

In [8]:
dados.corr()

,latitude,longitude,valor,iptu,condominio,area,quartos,banheiros,suites,vagas
latitude,1.000000,-0.999991,0.078219,0.034148,0.013546,0.069809,-0.020549,0.149444,0.026203,0.021285
longitude,-0.999991,1.000000,-0.078223,-0.034231,-0.014155,-0.070023,0.020433,-0.149573,-0.025891,-0.021308
valor,0.078219,-0.078223,1.000000,0.315253,0.552638,0.840075,0.560401,0.624011,0.757190,0.804253
iptu,0.034148,-0.034231,0.315253,1.000000,0.366839,0.369187,0.140951,0.165324,0.204908,0.274868
condominio,0.013546,-0.014155,0.552638,0.366839,1.000000,0.627841,0.289189,0.301670,0.303163,0.416407
area,0.069809,-0.070023,0.840075,0.369187,0.627841,1.000000,0.700860,0.621614,0.694730,0.753570
quartos,-0.020549,0.020433,0.560401,0.140951,0.289189,0.700860,1.000000,0.628131,0.613743,0.624969
banheiros,0.149444,-0.149573,0.624011,0.165324,0.301670,0.621614,0.628131,1.000000,0.732441,0.634231
suites,0.026203,-0.025891,0.757190,0.204908,0.303163,0.694730,0.613743,0.732441,1.000000,0.702187
vagas,0.021285,-0.021308,0.804253,0.274868,0.416407,0.753570,0.624969,0.634231,0.702187,1.000000

In [9]:
del dados['latitude']
del dados['longitude']

In [12]:
#X = dados[
#    ['iptu', 'vagas', 'suites', 'area', 'quartos', 'banheiros']
#]
X = dados.drop('valor', axis=1)

In [13]:
Y = dados['valor']

In [14]:
X.head()

   iptu  condominio  area  quartos  banheiros  suites  vagas
0     0         942   134        3        3.0       1    1.0
1     0         600   136        4        4.0       2    2.0
2  6500         936   167        4        6.0       4    3.0
3   174         770   135        3        3.0       1    1.0
4     0           0    91        3        3.0       1    2.0

In [15]:
Y.head()

0     680000
1     775000
2    1500000
3     415000
4     615000
Name: valor, dtype: int64

In [19]:
X = X.fillna(0)
modelo = sm.OLS(Y, X)

In [21]:
resultado = modelo.fit()

In [22]:
resultado.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  valor   R-squared (uncentered):                   0.914
Model:                            OLS   Adj. R-squared (uncentered):              0.912
Method:                 Least Squares   F-statistic:                              528.4
Date:                Tue, 14 Jan 2020   Prob (F-statistic):                   3.88e-181
Time:                        11:01:00   Log-Likelihood:                         -4958.6
No. Observations:                 355   AIC:                                      9931.
Df Residuals:                     348   BIC:                                      9958.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
iptu          -1.2837      2.533     -0.507      0.613      -6.265       3.697
condominio    96.6635     33.885      2.853      0.005      30.019     163.308
area        4941.3119    476.566     10.369      0.000    4004.000    5878.624
quartos    -1.658e+05   1.78e+04     -9.290      0.000   -2.01e+05   -1.31e+05
banheiros  -1917.0475   1.72e+04     -0.111      0.911   -3.58e+04     3.2e+04
suites      1.929e+05   2.44e+04      7.896      0.000    1.45e+05    2.41e+05
vagas        1.99e+05   2.84e+04      7.005      0.000    1.43e+05    2.55e+05
==============================================================================
Omnibus:                      125.465   Durbin-Watson:                   2.065
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1411.349
Skew:                           1.131   Prob(JB):                    3.38e-307
Kurtosis:                      12.503   Cond. No.                     1.38e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.38e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [24]:
type(resultado.params)

pandas.core.series.Series

In [25]:
X.head()

   iptu  condominio  area  quartos  banheiros  suites  vagas
0     0         942   134        3        3.0       1    1.0
1     0         600   136        4        4.0       2    2.0
2  6500         936   167        4        6.0       4    3.0
3   174         770   135        3        3.0       1    1.0
4     0           0    91        3        3.0       1    2.0

In [38]:
Y[:5]

0     680000
1     775000
2    1500000
3     415000
4     615000
Name: valor, dtype: int64

In [39]:
p = resultado.predict(X)

In [40]:
for valor in p[:5]:
    print(valor)

642041.308949164
843063.2347936563
1601272.2764560054
630133.1335402372
537526.1865328602

In [41]:
resultado.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  valor   R-squared (uncentered):                   0.914
Model:                            OLS   Adj. R-squared (uncentered):              0.912
Method:                 Least Squares   F-statistic:                              528.4
Date:                Tue, 14 Jan 2020   Prob (F-statistic):                   3.88e-181
Time:                        11:18:41   Log-Likelihood:                         -4958.6
No. Observations:                 355   AIC:                                      9931.
Df Residuals:                     348   BIC:                                      9958.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
iptu          -1.2837      2.533     -0.507      0.613      -6.265       3.697
condominio    96.6635     33.885      2.853      0.005      30.019     163.308
area        4941.3119    476.566     10.369      0.000    4004.000    5878.624
quartos    -1.658e+05   1.78e+04     -9.290      0.000   -2.01e+05   -1.31e+05
banheiros  -1917.0475   1.72e+04     -0.111      0.911   -3.58e+04     3.2e+04
suites      1.929e+05   2.44e+04      7.896      0.000    1.45e+05    2.41e+05
vagas        1.99e+05   2.84e+04      7.005      0.000    1.43e+05    2.55e+05
==============================================================================
Omnibus:                      125.465   Durbin-Watson:                   2.065
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1411.349
Skew:                           1.131   Prob(JB):                    3.38e-307
Kurtosis:                      12.503   Cond. No.                     1.38e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.38e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [42]:
X.head()

   iptu  condominio  area  quartos  banheiros  suites  vagas
0     0         942   134        3        3.0       1    1.0
1     0         600   136        4        4.0       2    2.0
2  6500         936   167        4        6.0       4    3.0
3   174         770   135        3        3.0       1    1.0
4     0           0    91        3        3.0       1    2.0

In [48]:
X_iptu = X[X['iptu'] != 0]

In [49]:
X_iptu.head()

    iptu  condominio  area  quartos  banheiros  suites  vagas
2   6500         936   167        4        6.0       4    3.0
3    174         770   135        3        3.0       1    1.0
5   2900         850   150        3        1.0       0    2.0
9    126         410    62        2        2.0       1    1.0
10   820         750    80        2        2.0       1    1.0

In [50]:
len(X_iptu)

138

In [51]:
Y_iptu = X_iptu['iptu']

In [52]:
X_iptu = X_iptu.drop('iptu', axis=1)

In [53]:
Y_iptu.head(1)

2    6500
Name: iptu, dtype: int64

In [54]:
X_iptu.head(1)

   condominio  area  quartos  banheiros  suites  vagas
2         936   167        4        6.0       4    3.0

In [55]:
modelo_iptu = sm.OLS(Y_iptu, X_iptu)
resultado_iptu = modelo_iptu.fit()

In [56]:
resultado_iptu.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   iptu   R-squared (uncentered):                   0.369
Model:                            OLS   Adj. R-squared (uncentered):              0.340
Method:                 Least Squares   F-statistic:                              12.85
Date:                Tue, 14 Jan 2020   Prob (F-statistic):                    2.15e-11
Time:                        11:28:08   Log-Likelihood:                         -1445.4
No. Observations:                 138   AIC:                                      2903.
Df Residuals:                     132   BIC:                                      2920.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
condominio    -3.3066      2.496     -1.325      0.188      -8.244       1.631
area         127.6806     27.945      4.569      0.000      72.402     182.959
quartos    -3513.3148    874.159     -4.019      0.000   -5242.488   -1784.142
banheiros    280.2379    767.088      0.365      0.715   -1237.138    1797.614
suites      -669.3785   1082.321     -0.618      0.537   -2810.316    1471.559
vagas        352.2224   1243.524      0.283      0.777   -2107.591    2812.035
==============================================================================
Omnibus:                      244.145   Durbin-Watson:                   1.886
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            39212.875
Skew:                           7.881   Prob(JB):                         0.00
Kurtosis:                      84.063   Cond. No.                     2.06e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.06e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [57]:
X.head()

   iptu  condominio  area  quartos  banheiros  suites  vagas
0     0         942   134        3        3.0       1    1.0
1     0         600   136        4        4.0       2    2.0
2  6500         936   167        4        6.0       4    3.0
3   174         770   135        3        3.0       1    1.0
4     0           0    91        3        3.0       1    2.0

In [59]:
media_iptu = X[X['iptu'] != 0]['iptu'].mean()
media_area = X[X['iptu'] != 0]['area'].mean()

In [60]:
iptu_m2 = media_iptu / media_area
def preencher_iptu(linha):
    if linha['iptu'] == 0:
        return iptu_m2 * linha['area']
    return linha['iptu']

In [63]:
X['iptu'] = X.apply(preencher_iptu, axis=1)

In [64]:
X.head()

          iptu  condominio  area  quartos  banheiros  suites  vagas
0  3282.827087         942   134        3        3.0       1    1.0
1  3331.824506         600   136        4        4.0       2    2.0
2  6500.000000         936   167        4        6.0       4    3.0
3   174.000000         770   135        3        3.0       1    1.0
4  2229.382574           0    91        3        3.0       1    2.0

In [65]:
modelo = sm.OLS(Y, X)
resultado = modelo.fit()
resultado.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  valor   R-squared (uncentered):                   0.914
Model:                            OLS   Adj. R-squared (uncentered):              0.912
Method:                 Least Squares   F-statistic:                              528.0
Date:                Tue, 14 Jan 2020   Prob (F-statistic):                   4.40e-181
Time:                        11:36:06   Log-Likelihood:                         -4958.7
No. Observations:                 355   AIC:                                      9931.
Df Residuals:                     348   BIC:                                      9959.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
iptu          -0.2230      2.662     -0.084      0.933      -5.458       5.012
condominio    94.1591     33.541      2.807      0.005      28.191     160.127
area        4908.9577    494.149      9.934      0.000    3937.063    5880.853
quartos    -1.641e+05   1.78e+04     -9.211      0.000   -1.99e+05   -1.29e+05
banheiros  -1776.1741   1.72e+04     -0.103      0.918   -3.57e+04    3.21e+04
suites       1.93e+05   2.44e+04      7.895      0.000    1.45e+05    2.41e+05
vagas       1.983e+05   2.84e+04      6.982      0.000    1.42e+05    2.54e+05
==============================================================================
Omnibus:                      128.671   Durbin-Watson:                   2.069
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1437.763
Skew:                           1.173   Prob(JB):                         0.00
Kurtosis:                      12.576   Cond. No.                     1.46e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.46e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [66]:
!pip install joblib

Collecting joblib
  Downloading https://files.pythonhosted.org/packages/28/5c/cf6a2b65a321c4a209efcdf64c2689efae2cb62661f8f6f4bb28547cf1bf/joblib-0.14.1-py2.py3-none-any.whl (294kB)
     |████████████████████████████████| 296kB 541kB/s eta 0:00:01
Installing collected packages: joblib
Successfully installed joblib-0.14.1

In [67]:
import joblib

In [68]:
resultado.predict(X[:5])

0    6.392791e+05
1    8.422357e+05
2    1.606030e+06
3    6.286861e+05
4    5.380358e+05
dtype: float64

In [70]:
joblib.dump(resultado, 'regressao.joblib')

['regressao.joblib']

In [71]:
resultado = joblib.load('regressao.joblib')

In [72]:
resultado.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  valor   R-squared (uncentered):                   0.914
Model:                            OLS   Adj. R-squared (uncentered):              0.912
Method:                 Least Squares   F-statistic:                              528.0
Date:                Tue, 14 Jan 2020   Prob (F-statistic):                   4.40e-181
Time:                        11:43:39   Log-Likelihood:                         -4958.7
No. Observations:                 355   AIC:                                      9931.
Df Residuals:                     348   BIC:                                      9959.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
iptu          -0.2230      2.662     -0.084      0.933      -5.458       5.012
condominio    94.1591     33.541      2.807      0.005      28.191     160.127
area        4908.9577    494.149      9.934      0.000    3937.063    5880.853
quartos    -1.641e+05   1.78e+04     -9.211      0.000   -1.99e+05   -1.29e+05
banheiros  -1776.1741   1.72e+04     -0.103      0.918   -3.57e+04    3.21e+04
suites       1.93e+05   2.44e+04      7.895      0.000    1.45e+05    2.41e+05
vagas       1.983e+05   2.84e+04      6.982      0.000    1.42e+05    2.54e+05
==============================================================================
Omnibus:                      128.671   Durbin-Watson:                   2.069
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1437.763
Skew:                           1.173   Prob(JB):                         0.00
Kurtosis:                      12.576   Cond. No.                     1.46e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.46e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""